<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="manage/commons :: head(~{::title})">
    <title>后台管理</title>
</head>
<body>
<th:block th:replace="manage/commons :: nav(index)"/>

<!--中间-->
<div class="m-container-small c-padded-tb-big">
    <!--container能够根据自适应设备屏幕大小-->
    <div class="ui container">
        <div class="class ui success large message">
            <h2>Hi，</h2>
            <p>蒋乐行，欢迎你!</p>
        </div>
        <img src="../../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片" class="class ui rounded bordered fluid image">
    </div>
</div>

<br>
<br>

<th:block th:replace="manage/commons :: footer"/>

<th:block th:replace="manage/commons :: script"/>
<!--<script src="./static/js/particles.js"></script>-->
<script>
    //particlesJS.load('particles-js', './static/assets/particles.json', function () {
    //    console.log('particles.js loaded - callback');
    //});
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })
</script>
</body>
</html>