<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客管理登录</title>
    <th:block th:replace="manage/commons :: link"/>
</head>
<body>

<br>
<br>
<br>

<div class="m-container-small c-padded-tb-massive disabled" style="max-width: 30em !important;">
    <div class="ur container">
        <div class="ui middle aligned center aligned grid">
            <div class="column">
                <h2 class="ui teal image header">
                    <div class="content">
                        管理后台登录
                    </div>
                </h2>
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui  segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="用户名">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="密码">
                            </div>
                        </div>
                        <button class="ui fluid large teal submit button">登   录</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <div class="ui mini negative message" th:text="${msg}">用户名和密码错误</div>

                </form>

<!--            用于用户注册
                <div class="ui message">
                    New to us? <a href="#">Sign Up</a>
                </div>-->
            </div>
        </div>
    </div>
</div>

<th:block th:replace="commons :: script"/>
<!--<script src="./static/js/particles.js"></script>-->
</body>
</html>