/* 导航高度 */
.m-padded-tb-nav {
    padding-top: 0.5em !important;
    padding-bottom: 0.4em !important;
}

/* 导航下方阴影效果 */
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

/* 底部高度 */
.m-padded-tb-footer {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}

/* 手机版导航按钮位置 */
.m-button-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

/* 固定工具栏位置 */
.m-fixed {
    display: none;
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/* 目录宽度 */
.js-toc {
    width: 250px !important;
    padding-inline-start: 20px !important;
}

/* 通用图片大小 */
.m-current-img {
    width: 120px !important;
}

/* 底部微信大小 */
.m-wechat-img-size {
    width: 110px !important;
}

/* 中间部分 */
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/* 关注二维码 */
.m-attention-qrcode {
    width: 11em !important;
}

/* 移动端导航列表的隐藏与显示 */
.m-mobile-show {
    display: none !important;
}

/* 响应式显示左右边距 */
.m-padded-lr-huge-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

.m-padded-lr-large-responsive {
    padding-left: 2em !important;
    padding-right: 2em !important;
}

/* 将markdown编辑器放在最上层 */
#md-content {
    z-index: 3 !important;
}

@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }

    .m-mobile-show {
        display: block !important;
    }

    .m-padded-lr-huge-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-padded-lr-large-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .m-mobile-wide {
        width: 100% !important;
    }
}