<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>关于我</title>
    <th:block th:replace="commons :: link"/>
</head>
<body>
<th:block th:replace="commons :: nav(info)"/>
<!--中间-->
<div class="m-container c-padded-tb-big">
    <!--container能够根据自适应设备屏幕大小-->
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="eleven wide column">
                <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片" class="ui rounded image">
            </div>
            <div class="five wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                </div>
                <div class="ui attached segment c-text-thin c-text-spaced">
                    <p>柏拉图（Plato，Πλατών， 公元前427年—公元前347年），是古希腊伟大的哲学家，也是整个西方文化中最伟大的哲学家和思想家之一。</p>
                    <p>柏拉图和老师苏格拉底，学生亚里士多德并称为希腊三贤。他创造或发展的概念包括：柏拉图思想、柏拉图主义、柏拉图式爱情等。柏拉图的主要作品为对话录，其中绝大部分都有苏格拉底出场。但学术界普遍认为，其中的苏格拉底形象并不完全是历史上真实存在的苏格拉底。</p>
                </div>
                <div class="ui attached segment">
                    <div class="ui orange basic left pointing label">编程</div>
                    <div class="ui orange basic left pointing label">写作</div>
                    <div class="ui orange basic left pointing label">思考</div>
                    <div class="ui orange basic left pointing label">运动</div>
                </div>
                <div class="ui attached segment">
                    <div class="ui teal basic left pointing label c-margin-tb-tiny">Java</div>
                    <div class="ui teal basic left pointing label c-margin-tb-tiny">MySQL</div>
                    <div class="ui teal basic left pointing label c-margin-tb-tiny">SpringBoot</div>
                    <div class="ui teal basic left pointing label c-margin-tb-tiny">MyBatis</div>
                </div>
                <div class="ui bottom attached segment">
                    <a href="#" class="ui icon circular button"><i class="github icon"></i></a>
                    <a href="#" class="ui wechat icon circular button"><i class="weixin icon"></i></a>
                    <a href="#" class="ui qq icon circular button" data-content="469114712" data-position="bottom center"><i class="qq icon"></i></a>
                </div>

                <div class="ui wechat-qr flowing popup transition hidden">
                    <img src="../static/images/WeChat.jpg" th:src="@{/images/WeChat.jpg}" alt="找不到二维码" class="ui rounded image m-wechat-img-size">
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="commons :: footer"/>

<th:block th:replace="commons :: script"/>
<!--<script src="./static/js/particles.js"></script>-->
<script>
    //particlesJS.load('particles-js', './static/assets/particles.json', function () {
    //    console.log('particles.js loaded - callback');
    //});
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
    $('.wechat').popup({
       popup : $('.wechat-qr'),
       position : 'bottom center'
    });
    $('.qq').popup();
</script>
</body>
</html>