<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <th:block th:fragment="link">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
        <link rel="stylesheet" href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}"/>
        <link rel="stylesheet" href="../static/lib/typo/typo.css" th:href="@{/lib/typo/typo.css}">
        <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}">
        <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">
        <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
        <link rel="stylesheet" href="../static/css/commons.css" th:href="@{/css/commons.css}">
    </th:block>
</head>
<body>

<th:block th:fragment="nav(selected)">
    <!--导航-->
    <nav class="ui inverted attached segment m-padded-tb-nav m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header item">VarDea</h2>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${selected=='home'} ? 'active'"><i
                        class="home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${selected=='idea'} ? 'active'"><i
                        class="idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${selected=='tags'} ? 'active'"><i
                        class="tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${selected=='clone'} ? 'active'"><i
                        class="clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide" th:classappend="${selected=='info'} ? 'active'"><i
                        class="info icon"></i>关于我</a>
                <div class="m-item right item m-mobile-hide">
                    <div class="ui icon inverted transparent input">
                        <label>
                            <input type="text" placeholder="搜索...">
                        </label>
                        <i class="search link icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-button-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
</th:block>

<th:block th:fragment="footer">
    <!--底部-->
    <footer class="ui inverted vertical segment m-padded-tb-footer">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/WeChat.jpg" th:src="@{/images/WeChat.jpg}" alt="洗妮吗塞..."
                                 class="ui rounded image m-wechat-img-size">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header c-text-thin c-text-spaced">最新博客</h4>
                    <div class="ui inverted link list c-text-thin c-text-spaced c-opacity-mini">
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                        <a href="#" class="item">用户故事</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header c-text-thin c-text-spaced">联系我</h4>
                    <div class="ui inverted link list c-text-thin c-text-spaced c-opacity-mini">
                        <p>Email：vardea@163.com</p>
                        <p>QQ：469114712</p>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header c-text-thin c-text-spaced">最新博客</h4>
                    <p class="c-text-thin c-text-spaced c-opacity-mini">这是我的个人博客...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="ui center aligned inverted divided grid">
                <div class="three wide column">
                    <div class="item">
                    <span class="c-text-thin c-text-spaced c-opacity-tiny">2020 ©
                        VarDea-Blog </span>
                    </div>
                </div>
                <div class="three wide column">
                    <div class="item">
                        <a href="http://www.beian.miit.gov.cn/" class="c-text-thin c-text-spaced c-opacity-tiny">湘ICP备20015838号</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</th:block>

<th:block th:fragment="script">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
    <script src="../static/lib/qrcode/qrcode.min.js" th:src="@{/lib/qrcode/qrcode.min.js}"></script>
    <script src="../static/lib/scrollto/jquery.scrollTo.min.js"
            th:src="@{/lib/scrollto/jquery.scrollTo.min.js}"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"
            th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
</th:block>
</body>
</html>