<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <title>分类</title>
</head>
<body>
<th:block th:replace="commons :: nav(types)"/>
<!--中间-->
<div class="m-container-small c-padded-tb-big">
    <!--container能够根据自适应设备屏幕大小-->
    <div class="ui container">
        <!--分类头部-->
        <div class="ui top attached segment">
            <div class="middle aligned ui two column grid">
                <div class="column">
                    <h3 class="ui teal header"> 分类 </h3>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header c-inline-block c-text-thin"> 14 </h3> 个
                </div>
            </div>
        </div>

        <!--分类标签-->
        <div class="ui attached segment c-padded-tb-large">
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic teal button">著名小说</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic teal button">著名小说</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic teal button">著名小说</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic teal button">著名小说</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button c-margin-tb-tiny">
                <a href="#" class="ui basic button">著名小说</a>
                <div class="ui basic left pointing label">24</div>
            </div>

        </div>

        <!--博客列表-->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment c-padded-tb-large m-mobile-lr-clear">
                <div class="ui mobile reversed stackable grid">

                    <!--blog-image-->
                    <div class="eleven wide column">
                        <!--blog-content-title-->
                        <h3 class="ui header">《理想国》- 柏拉图</h3>

                        <!--blog-content-text-->
                        <p class="c-text">柏拉图说:人生最遗憾的,莫过于,轻易地放弃了不该放弃的,固执地,坚持了不该坚持的. 柏拉图说:
                            第一次哭是因为你不在,第一次笑是因为遇到你,第一次笑着流泪是因为不能拥有你
                            .. 柏拉图说:如果爱上,就不要轻易放过机会.</p>

                        <!--blog-content-footer-->
                        <div class="ui stackable grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">

                                    <div class="item">
                                        <!--user-header-image-->
                                        <img src="../static/images/default_header_image.jpg"
                                             th:src="@{/images/default_header_image.jpg}" alt="找不到头像"
                                             class="ui avatar image">
                                        <!--user-name-->
                                    </div>
                                    <div class="item">
                                        <a href="#" class="header"> 蒋乐行 </a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon"></i> 2020-8-7
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i> 1024
                                    </div>
                                </div>
                            </div>
                            <div class="right aligned five wide column">
                                <a href="#" target="_blank" class="ui teal label c-padded-small">认识升级</a>
                            </div>
                        </div>
                    </div>

                    <!--blog-content-->
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="../static/images/qiaoba.jpg" th:src="@{/images/qiaoba.jpg}" alt="找不到图片"
                                 class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!--footer-->
        <div class="ui bottom attached segment">
            <div class="middle aligned ui two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="commons :: footer"/>

<th:block th:replace="commons :: script"/>
<!--<script src="./static/js/particles.js"></script>-->
<script>
    //particlesJS.load('particles-js', './static/assets/particles.json', function () {
    //    console.log('particles.js loaded - callback');
    //});
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
</script>
</body>
</html>