<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vardea.blog.mapper.BlogMapper">

    <resultMap id="blogResultMap" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="firstPicture" column="firstPicture"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="appreciation" column="appreciation"/>
        <result property="shareStatement" column="shareStatement"/>
        <result property="commentabled" column="commentabled"/>
        <result property="published" column="published"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="description" column="description"/>
        <association property="typeId" javaType="Type" columnPrefix="type_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <association property="userId" javaType="User">
            <id property="id" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
            <result property="type" column="type"/>
            <result property="createTime" column="user_create_time"/>
            <result property="updateTime" column="user_update_time"/>
        </association>
        <collection property="tags" column="id" ofType="Tag"
                    select="cn.vardea.blog.mapper.TagMapper.getTagByBlog"/>
        <!--<result column="updateTime" property="comments"/>-->
    </resultMap>

    <insert id="saveBlog">
        INSERT INTO t_blog(title, content, first_picture, flag, views, appreciation, share_statement, commentabled,
                           published, recommend, create_time, update_time, type_id, user_id, description, tag_ids)
            VALUE (#{title}, #{content}, #{firstPicture}, #{flag}, #{views}, #{appreciation}, #{shareStatement},
                   #{commentabled}, #{published}, #{recommend}, #{createTime}, #{updateTime}, #{typeId.id},
                   #{userId.id},
                   #{description}, #{tags.id})
    </insert>

    <delete id="removeBlog">
        DELETE
        FROM t_blog
        WHERE id = #{id}
    </delete>

    <update id="updateBlog">
        UPDATE t_blog
        <set>
            <if test="title != null">
                , title = #{title}
            </if>
            <if test="content != null">
                , content = #{content}
            </if>
            <if test="firstPicture != null">
                , first_picture = #{firstPicture}
            </if>
            <if test="flag != null">
                , flag = #{flag}
            </if>
            <if test="appreciation != null">
                , appreciation = #{appreciation}
            </if>
            <if test="shareStatement != null">
                , share_statement = #{shareStatement}
            </if>
            <if test="commentabled != null">
                , commentabled = #{commentabled}
            </if>
            <if test="published != null">
                , published = #{published}
            </if>
            <if test="recommend != null">
                , recommend = #{recommend}
            </if>
            <if test="createTime != null">
                , create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                , update_time = #{updateTime}
            </if>
            <if test="typeId != null">
                , type_id = #{typeId.id}
            </if>
            <if test="userId != null">
                , user_id = #{userId.id}
            </if>
            <!-- 要使用for循环完成该 需求
                       <if test="tags != null">
                            AND tag_ids = #{tags.id}
                        </if>-->
        </set>
        WHERE id = #{id}
    </update>


    <select id="listBlog" resultMap="blogResultMap">
        SELECT tb.*,
               tt.`name`      type_name,
               tu.nickname,
               tu.username,
               tu.password,
               tu.email,
               tu.avatar,
               tu.type,
               tu.create_time user_create_time,
               tu.update_time user_update_time
        FROM t_blog tb
                 JOIN t_type tt
                 JOIN t_user tu
        WHERE tb.type_id = tt.id
          AND tb.user_id = tu.id
    </select>

    <select id="getBlog" resultMap="blogResultMap">
        SELECT tb.*,
               tt.`name`      type_name,
               tu.nickname,
               tu.username,
               tu.password,
               tu.email,
               tu.avatar,
               tu.type,
               tu.create_time user_create_time,
               tu.update_time user_update_time
        FROM t_blog tb
                 JOIN t_type tt
                 JOIN t_user tu
        WHERE tb.id = #{id}
          AND tb.type_id = tt.id
          AND tb.user_id = tu.id
    </select>

    <!--Type额外SQL 多表查询时将相应的Blog查询出来-->
    <select id="getBlogByType" resultType="Blog">
        SELECT id,
               title,
               content,
               first_picture,
               flag,
               views,
               appreciation,
               share_statement,
               commentabled,
               published,
               recommend,
               create_time,
               update_time,
               type_id,
               user_id,
               description,
               tag_ids
        FROM t_blog
        WHERE type_id = #{typeId}
    </select>

    <!--Tag额外SQL 多表查询时将相应的Blog查询出来-->
    <select id="getBlogByTag" resultType="Blog">
        SELECT *
        FROM t_blog tb
                 JOIN t_blog_tags tbt ON tb.id = tbt.blog_id
        WHERE tbt.tag_id = 4
    </select>

</mapper>