<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vardea.blog.mapper.BlogMapper">

    <resultMap id="blogResultMap" type="Blog">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="firstPicture" column="firstPicture"/>
        <result property="flag" column="flag"/>
        <result property="views" column="views"/>
        <result property="appreciation" column="appreciation"/>
        <result property="shareStatement" column="shareStatement"/>
        <result property="commentabled" column="commentabled"/>
        <result property="published" column="published"/>
        <result property="recommend" column="recommend"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="description" column="description"/>
        <association property="typeId" javaType="Type" columnPrefix="type_">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </association>
        <association property="userId" javaType="User">
            <id property="id" column="user_id"/>
            <result property="nickname" column="nickname"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
            <result property="type" column="type"/>
            <result property="createTime" column="user_create_time"/>
            <result property="updateTime" column="user_update_time"/>
        </association>
        <collection property="tags" column="id" ofType="Tag"
                    select="com.vardea.blog.mapper.TagMapper.getTagByBlog"/>
        <!--<result column="updateTime" property="comments"/>-->
    </resultMap>


    <select id="listBlog" resultMap="blogResultMap">
        SELECT * FROM t_blog
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="userId != null">
                AND user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getBlog" resultMap="blogResultMap">
        SELECT
            tb.*, tt.`name` type_name,
            tu.nickname, tu.username, tu.password, tu.email, tu.avatar, tu.type, tu.create_time user_create_time, tu.update_time user_update_time
        FROM t_blog tb
                 JOIN t_type tt
                 JOIN t_user tu
        WHERE tb.id = 3
          AND tb.type_id = tt.id
          AND tb.user_id = tu.id
    </select>

    <select id="getBlogByType" resultType="Blog">
        SELECT
        id, title, content, first_picture, flag, views, appreciation, share_statement, commentabled,
        published, recommend, create_time, update_time, type_id, user_id, description, tag_ids
        FROM t_blog WHERE type_id = #{typeId}
    </select>

</mapper>