<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vardea.blog.mapper.TagMapper">

    <resultMap id="tagResultMap" type="Tag">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="blogs" column="id" ofType="Blog"
                    select="cn.vardea.blog.mapper.BlogMapper.getBlogByTag"/>
    </resultMap>

    <insert id="saveTag">
        INSERT INTO t_tag(name) VALUE (#{name})
    </insert>

    <delete id="removeTag">
        DELETE FROM t_tag
        WHERE id = #{id}
    </delete>

    <update id="updateTag">
        UPDATE t_tag
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <select id="getTag" resultMap="tagResultMap">
        SELECT
        *
        FROM t_tag
        WHERE id = #{id}
    </select>

    <select id="listTag" resultType="Tag">
        SELECT
        *
        FROM t_tag
    </select>

    <!--Blog额外SQL 多表查询时将相应的Tag查询出来-->
    <select id="getTagByBlog" resultMap="tagResultMap">
        SELECT *
        FROM t_tag tt
        JOIN t_blog_tags tbt ON tt.id = tbt.tag_id
        WHERE tbt.blog_id = #{id}
    </select>
</mapper>
