<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.vardea.blog.mapper.TypeMapper">

    <resultMap id="typeResultMap" type="Type">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <collection property="blogs" column="id" ofType="Blog"
                select="cn.vardea.blog.mapper.BlogMapper.getBlogByType"/>
    </resultMap>

    <sql id="typeBaseWhere">
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
        </where>
    </sql>

    <insert id="saveType" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_type(`name`) VALUES (#{name})
    </insert>

    <delete id="removeType">
        DELETE FROM t_type
        <include refid="typeBaseWhere"/>
    </delete>

    <update id="updateType">
        UPDATE t_type SET `name` = #{name} WHERE id = #{id}
    </update>

    <select id="getType" resultMap="typeResultMap">
        SELECT id, `name` FROM t_type
        <include refid="typeBaseWhere"/>
    </select>

    <select id="listType" resultMap="typeResultMap">
        SELECT id, `name` FROM t_type
        <include refid="typeBaseWhere"/>
    </select>
</mapper>